body {
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
.card{
}

.board{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .column{

    width: 400px;

    h3{
      margin-top: -10px;
    }
  }

}
