body {
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
.card{
  .edit{
    float:right;
  }
}

.board{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .column{

    min-width: 300px;

    h3{
      margin-top: -10px;
    }
  }

}
